In [ ]:
 my_int = 1
 my_float = 1.5348924247
 my_boolean = False
 my_none = None

In [ ]:
my_int : int = 10.5
my_int = 'my_string'

In [5]:
my_list = 1[,1.44,'my_string00',[1,2,3]]
my_list[3][2]

3

In [10]:
my_list[0] = 100
my_list

[100, 1.44, 'my_string00', [1, 2, 3]]

In [7]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [12]:
my_list = list()

In [ ]:
my_list.

In [16]:
my_list.append(3)
my_list

[1, 2, 3]

In [11]:
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

In [9]:
type(my_list)

list

In [17]:
my_dict_1 = {'1': 100, '2': 200}
my_dict_2 = {'3': 300, '4': 400}
my_dict_3 = {'5': 500, '1': 999}

In [19]:
my_dict_1.update(my_dict_3)
my_dict_1

{'1': 999, '2': 200, '3': 300, '4': 400, '5': 500}

In [22]:
my_number = 1.7
my_new_number = int(my_number)
my_new_number

1

In [21]:
my_string = str(my_number)
my_string

'1.434'

In [29]:
def multiply_number(a: int = 1, b: int = 1):
    return a*b

print(multiply_number(a=1,b=2))

10